# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/


# Docs
docs/

# Dotenv file
.env

# Dependency directories
lib/

# Forge coverage
.forge-coverage/

# IDE files
.idea/

# macOS files
.DS_Store


